.banner{
    padding-bottom: 20px;
    color: white;
    line-height: 23px;
}

.banner-container{
    margin: 0;
    height: 200px;
    width: auto;
}
.banner-container img{
    object-fit:cover;
    object-position: 0% 55%;

    height: 200px;
    width: 100%;

}

.banner-name,
.banner-section-description{
    padding: 0 20px;
    font-size: 17.5px;
    margin-bottom: 5px
}
.banner-name{
    padding-top: 10px;
    margin-bottom: 5px
}


.banner-section-title{
    padding: 0 20px;
    font-size: 32px;
    font-weight: bold;
}